* {
    font-family: "SF Pro Display", "SF Mono Nerd Font", sans-serif;
    font-size: 13px;
    font-weight: 600;
    border: none;
    border-radius: 0;
}
window#waybar {
    background-color: #24273a;
    color: #cad3f5;
}
#workspaces button {
    padding: 0 10px;
    color: #8087a2;
}
#workspaces button.active {
    color: #cad3f5;
}
#clock,
#pulseaudio,
#tray {
    padding: 0 15px;
}
